@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: cadetblue;

}

header {
    background-color: lightgray;
    padding: 20px;
    width: 100%;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.364);
    margin-bottom: 60px;
}

header h1 {
    text-align: center;
}

main {
    background-color: antiquewhite;
    margin: auto;
    width: 400px;
    height: 475px;
    border-radius: 10px;
    padding-top: 20px;
    font-size: 1.8em;
    font-weight: bolder;
}

div#tela {
    background-color: lightgreen;
    width: 350px;
    height: 70px;
    margin: auto;
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgba(122, 122, 122, 0.41);
    text-align: right;
    
}

div#tela > #sinalExibido {
    width: 20px;
    height: 20px;
    background-color: rgb(87, 224, 87);
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 3px;
    text-align: center;
    box-shadow: 0px 1px 3px rgba(89, 88, 88, 0.297);
    font-size: 17px;
}

main div#suporteTela {
    margin-bottom: 15px;
}

main div.fundoTeclas {
    background-color: seashell;
    width: 87%;
    height: 360px;
    margin: auto;
}

main div.tecla {
    background-color: cadetblue;
    width: 55px;
    height: 55px;
    text-align: center;
    display:inline-flex;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
}

main div.teclaC0 {
    padding: 20px 0px 5px 23px;
}

main div#teclasC1 {
    padding: 14px 0px 5px 23px;
}

main div#teclasC2 {
    padding: 0px 0px 5px 23px;
}

main div#teclasC3 {
    padding:0px 0px 5px 23px;
}

main div#teclasC4 {
    padding:20px 0px 5px 23px;
}

main div#teclaC1 {
    background-color: cadetblue;
    width: 80px;
    height: 80px;
    text-align: center;
    display: inline-block;
}


main div#reset {
    margin: 20px 0px 5px 25px;
    width: 50px;
    height: 50px;
}

main div#trocaSinal {
    width: 50px;
    height: 50px;
    margin: 20px 5px 5px 5px;
}

main div#tecMultiplica {
    margin-left: 21px;
    width: 70px;
    
}

main div#tecsCalc_divisao  {
    margin-left: 24px;
    width: 70px;
}

main div#tecsCalc_subtracao {
    margin-left: 24px;
    width: 70px;
}

main div#tecsCalc_soma {
    margin-left: 24px;
    width: 70px;
}

main div#tecsCalc_porcentagem {
    width: 50px;
    height: 50px;
    margin: 0px 0px 0px 6px;
}

main div#tecigual {
    margin-left: 10px;
    width: 145px;
 }
