@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

body {
    background-color: rgb(71, 113, 210);
}

header {
    background-color: lightblue;
    padding: 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-align: center;
    box-shadow: 2px 2px 3px rgba(125, 124, 124, 0.571);
}

header > h1 {
    color: lightseagreen;
    text-shadow: 1px 1px 2px rgba(56, 56, 56, 0.567);
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    background-color: rgb(115, 191, 216);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 10px;
}

nav > a {
    text-decoration: none;
    font-weight: bolder;
    margin-left: 20px;
    color: white
    
}

div#sorvete > #seuSorvete{
    text-align: center;
    font: bold 22px Arial,sans-serif;
    color: lightseagreen;
    text-shadow: 1px 1px 2px rgba(102, 101, 101, 0.311);
    margin: 5px;
}

div#sorvete > div {
    text-align: left;
    margin: 10px;
}

#bot_apagar {
    background-color: lightseagreen;
    font-family: 'Patrick Hand', cursive;
}

#botaoApagarPosicao {
    text-align: right;
}

#bot_apagar:hover {
    background-color: aquamarine;
}

#bot_add {
    background-color: lightblue;
}

#bot_add:hover {
    background-color: teal;
}
#bot_add:active {
    background-color: rgb(2, 169, 169);
    border-color: steelblue;
}

#bot_pronto {
    background-color: lightblue;
}

#bot_pronto:hover {
    background-color: teal;
}

#bot_pronto:active {
    background-color: rgb(2, 169, 169);
    border-color: steelblue;
}

#voltar {
    height: 50px;
    width: 50px;
    background-color: white;
    border-radius: 50%;
    text-align: left;
    text-align: center;  
    padding: 1px; 
    box-shadow: 1px 1px 2px rgba(109, 109, 109, 0.419);
}

#voltar > a > img {
    margin: 10px
}